<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/main.css">
  <script src="/static/main.js"></script>
  <title>Amr BD</title>
</head>

<body>
  {{!-- <embed src="/static/Final Fantasy X OSTTo Zanarkand.mp3" width="180" height="90" loop="false" autostart="false"
    hidden="true" /> --}}

  <audio src="/static/Final Fantasy X OSTTo Zanarkand.mp3" autoplay>
    <p>If you are reading this, it is because your browser does not support the audio element. </p>
    <embed src="/static/Final Fantasy X OSTTo Zanarkand.mp3" width="180" height="90" hidden="true" />
  </audio>
  {{!-- <button style="color: black;">Click me</button> --}}

  <span style="color: black;">Don’t ever change! Stay as drunk as you are, bruh</span>
  <div class="reveal">
    <span>Happy Birthday Amr</span>
  </div>
  <div class="Download"><a href="https://github.com/KaSakee/AHBirthday.git" target="_blank">Download This.</a></div>
</body>

</html>